[submodule "license-header-config"]
	path = license-header-config
	url = https://github.com/trustedanalytics/license-header-config.git
[submodule "cm_ext"]
	path = cm_ext
	url = https://github.com/cloudera/cm_ext.git
